* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

textarea {
    unset:all;
}

body {
    background-color: #e7ecef;
     font-family: "Inter", sans-serif;
     display: flex;
    align-items: center;
    flex-direction: column;

}

.background {
    position: absolute;
    z-index: -1;
    height: 274;
    width: 100%;
    background-image: linear-gradient(to right,  rgba(101, 0, 163, 0.9),
      rgba(24, 120, 175, 0.9)),
      url("https://bytegrad.com/course-assets/images/rn-image-1.png");
}

.container {
    background-color: white;
    height: 520px;
    width: 1050px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
   
}

.first-heading {
    text-transform: uppercase;
    color:white;
    letter-spacing: 5px;
    margin-top: 75px;
}

.Special_first_heading {
    font-weight: 300;
}

.textarea {
    all:unset;
}